{% extends 'base/base.html' %} {% load static %} {% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <div class="logo-row col-xs-12">
            <div class="col-xs-4">
              <img
                src="{% static 'svg/Google_Drive_Logo.svg' %}"
                width="100px"
              />
            </div>
            <div class="col-xs-4">
              <i class="fas fa-caret-right"></i>
            </div>
            <div class="col-xs-4">
              <img src="{% static 'svg/Commons-logo.svg' %}" height="100px" />
            </div>
          </div>

          <div class="col-xs-12">
            <h5 class="app-desc text-center">
              Upload your photos from Google Drive to Wikimedia Commons!
            </h5>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="card home-card">
                  <div class="card-body">
                    <i class="fas fa-sign-in-alt"></i>
                    <div><span class="card-step">1</span></div>
                    <p class="card-text">Login to Wikimedia Commons</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="card home-card">
                  <div class="card-body">
                    <i class="fas fa-images"></i>
                    <div><span class="card-step">2</span></div>
                    <p class="card-text">Pick photos from your Google Drive</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-xs-12">
                <div class="card home-card">
                  <div class="card-body">
                    <i class="fas fa-upload"></i>
                    <div><span class="card-step">3</span></div>
                    <p class="card-text">Upload to Wikimedia Commons</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <p style="text-align: center">
              A total of <span style="font-weight: bold"> {{ count }}</span>
              images have been uploaded using GDrive to Commons!
            </p>
          </div>

          <div class="col-xs-12">
            <div class="agreement-content">
              <h4>Data Collection / Terms of Use</h4>
              <p>
                By using this project, you agree that any private information
                you give to this project may be made publicly available and not
                be treated as confidential.
              </p>
              <hr />
              <p class="mb-0"></p>
              <p>
                By using this project, you agree that the volunteer
                administrators of this project will have access to any data you
                submit. This can include your <b>IP address</b>, your
                <b>username</b> for accounts created in Cloud Services services,
                and any other information that you send. The volunteer
                administrators of this project are bound by the Wikimedia Cloud
                Services Terms of Use, and are not allowed to share this
                information or use it in any non-approved way.
              </p>
              <p>
                Since access to this information is fundamental to the operation
                of Wikimedia Cloud Services, these terms regarding use of your
                data expressly override the Wikimedia Foundation's Privacy
                Policy as it relates to the use and access of your personal
                information.
              </p>
              <p>
                The actual information collected by this application is listed
                in our
                <!-- prettier-ignore -->
                <a href="{% url 'privacy_policy' %}">Privacy Policy</a>.
              </p>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="col-xs-12 col-md-6 offset-md-3">
              <form
                class="form-inline agreement-form"
                action='{% url "upload_page" %}'
                method="get"
              >
                <div class="custom-control custom-checkbox m-1 mr-sm-2">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    id="customControlInline"
                    required
                  />
                  <label class="custom-control-label" for="customControlInline">
                    <!-- prettier-ignore -->
                    <span>I've read and accept the
                      <a href="{% url 'privacy_policy' %}">
                        Privacy Policy
                      </a></span></label
                  >
                </div>
                <button
                  class="btn btn-lg btn-primary btn-block text-uppercase"
                  type="submit"
                  role="button"
                  style="margin-top: 2%"
                >
                  Start uploading<i class="fas fa-caret-right fa-1x"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
