{% extends 'base/base.html' %} {% load static %} {% block meta %}
<title>Google Drive to Commons</title>
{% endblock meta %} {% block scripts %}
<!-- The Google API Loader script. -->
<script type="text/javascript" src="{% static 'js/gapi.js' %}"></script>
<script type="text/javascript">
  // The Browser API key obtained from the Google API Console.
  // Replace with your own Browser API key, or your own key.
  var developerKey = "{{ developer_key }}";

  // The Client ID obtained from the Google API Console. Replace with your own Client ID.
  var clientId = "{{ client_id }}";

  // Replace with your own project number from console.developers.google.com.
  // See "Project number" under "IAM & Admin"     > "Settings"
  var appId = "{{ google_app_id }}";

  // Scope to use to access user's Drive items.
  var scope = ["https://www.googleapis.com/auth/drive.readonly"];

  var pickerApiLoaded = false;
  var oauthToken;

  // Use the Google API Loader script to load the google.picker script.
  function loadPicker() {
    gapi.load("auth", { callback: onAuthApiLoad });
    gapi.load("picker", { callback: onPickerApiLoad });
  }

  function onAuthApiLoad() {
    window.gapi.auth.authorize(
      {
        client_id: clientId,
        scope: scope,
        immediate: false
      },
      handleAuthResult
    );
  }

  function onPickerApiLoad() {
    pickerApiLoaded = true;
    createPicker();
  }

  function handleAuthResult(authResult) {
    if (authResult && !authResult.error) {
      oauthToken = authResult.access_token;
      createPicker();
    }
  }

  // Create and render a Picker object for searching images.
  function createPicker() {
    if (pickerApiLoaded && oauthToken) {
      var view = new google.picker.View(google.picker.ViewId.DOCS);
      view.setMimeTypes("image/png,image/jpeg,image/jpg");
      var picker = new google.picker.PickerBuilder()
        .enableFeature(google.picker.Feature.NAV_HIDDEN)
        .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
        .setAppId(appId)
        .setOAuthToken(oauthToken)
        .addView(view)
        .addView(new google.picker.DocsUploadView())
        .setDeveloperKey(developerKey)
        .setCallback(pickerCallback)
        .build();
      picker.setVisible(true);
    }
  }

  // A simple callback implementation.
  function pickerCallback(data) {
    if (data.action == google.picker.Action.PICKED) {
      const file_list = [];
      console.log(data.docs);
      data.docs.forEach(item =>
        file_list.push({
          name: item.name,
          id: item.id
        })
      );

      var fileData = {
        fileList: file_list,
        token: oauthToken
      };

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          var cookies = document.cookie.split(";");
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      var csrftoken = getCookie("csrftoken");
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
      }

      $.ajax({
        url: "http://localhost:8000/upload/",
        type: "POST",
        data: JSON.stringify(fileData),
        cache: false,
        processData: false,
        contentType: "application/json",
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        },
        success: function(data) {
          console.log("Success!");
        },
        error: function() {
          console.log("error");
        }
      });
    }
  }
</script>
{% endblock %} {% block body %} {% if user.is_authenticated %}
<div class="container" style="height: 100%; text-align: center">
  <button
    class="btn btn-outline-success my-2 my-sm-2"
    type="button"
    id="gdriveButton"
    onclick="loadPicker()"
  >
    Connect to Google
  </button>
</div>
{% endif %} {% endblock %}
