{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      crossorigin="anonymous"
    />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="{% static 'js/popper.min.js' %}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'js/bootstrap.min.js' %}"
      crossorigin="anonymous"
    ></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- The Google API Loader script. -->
    <script type="text/javascript" src="{% static 'js/gapi.js' %}"></script>

    <title>Google Photos Picker</title>
    <script type="text/javascript">
      // The Browser API key obtained from the Google API Console.
      // Replace with your own Browser API key, or your own key.
      var developerKey = "{{ developer_key }}";

      // The Client ID obtained from the Google API Console. Replace with your own Client ID.
      var clientId = "{{ client_id }}";

      // Replace with your own project number from console.developers.google.com.
      // See "Project number" under "IAM & Admin"     > "Settings"
      var appId = "{{ google_app_id }}";

      // Scope to use to access user's Drive items.
      var scope = ["https://www.googleapis.com/auth/drive.readonly"];

      var pickerApiLoaded = false;
      var oauthToken;

      // Use the Google API Loader script to load the google.picker script.
      function loadPicker() {
        gapi.load("auth", { callback: onAuthApiLoad });
        gapi.load("picker", { callback: onPickerApiLoad });
      }

      function onAuthApiLoad() {
        window.gapi.auth.authorize(
          {
            client_id: clientId,
            scope: scope,
            immediate: false
          },
          handleAuthResult
        );
      }

      function onPickerApiLoad() {
        pickerApiLoaded = true;
        createPicker();
      }

      function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
          oauthToken = authResult.access_token;
          createPicker();
        }
      }

      // Create and render a Picker object for searching images.
      function createPicker() {
        if (pickerApiLoaded && oauthToken) {
          var view = new google.picker.View(google.picker.ViewId.DOCS);
          view.setMimeTypes("image/png,image/jpeg,image/jpg");
          var picker = new google.picker.PickerBuilder()
            .enableFeature(google.picker.Feature.NAV_HIDDEN)
            .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
            .setAppId(appId)
            .setOAuthToken(oauthToken)
            .addView(view)
            .addView(new google.picker.DocsUploadView())
            .setDeveloperKey(developerKey)
            .setCallback(pickerCallback)
            .build();
          picker.setVisible(true);
        }
      }

      // A simple callback implementation.
      function pickerCallback(data) {
        if (data.action == google.picker.Action.PICKED) {
          const file_list = [];
          data.docs.forEach(item => file_list.push(item.id));

          var fileData = {
            fileList: file_list,
            token: oauthToken
          };
          $.ajax({
            url: "http://localhost:8000/upload/",
            type: "POST",
            data: JSON.stringify(fileData),
            cache: false,
            processData: false,
            contentType: "application/json",
            success: function(data) {
              console.log("Success!");
            },
            error: function() {
              console.log("error");
            }
          });
        }
      }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a
            class="btn btn-primary my-2 my-sm-0"
            href="{% url 'social:begin' 'mediawiki' %}"
          >
            MW Login
          </a>
        </form>
      </div>
    </nav>

    <div class="container" style="height: 100%; text-align: center">
      <button
        class="btn btn-outline-success my-2 my-sm-2"
        type="button"
        id="gdriveButton"
        onclick="loadPicker()"
      >
        Connect to Google
      </button>
    </div>

    <footer style="position: fixed; bottom: 0px;" class="align-middle">
      <div class="footer-copyright text-center py-3">
        No Copyrights:
        <a href="https://mdbootstrap.com/education/bootstrap/">
          MDBootstrap.com</a
        >
      </div>
    </footer>
  </body>
</html>
