{% extends 'base/base.html' %} {% load static %} {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Privacy Policy</h3>
                    </div>
                    <div class="card-body">
                        <div class="row logo-row col-xs-12">
                            <div class="col-xs-4">
                                <div class="container">
                                    <p>
                                        Wikimedia Volunteers and staff at
                                        Wikimedia Hackathon 2019
                                        built the gdrive-to-commons app as an
                                        Open Source app. This
                                        SERVICE is provided by Wikimedia Tool
                                        Labs at no cost and is
                                        intended for use as is.
                                    </p>
                                    <p>
                                        This page is used to inform visitors
                                        regarding our policies
                                        with the collection, use, and
                                        disclosure of Personal
                                        Information if anyone decided to use
                                        our Service.
                                    </p>
                                    <p>
                                        If you choose to use our Service, then
                                        you agree to the
                                        collection and use of information in
                                        relation to this policy.
                                        The Personal Information that we
                                        collect is used for providing
                                        and improving the Service. We will not
                                        use or share your
                                        information with anyone except as
                                        described in this Privacy
                                        Policy.
                                    </p>
                                    <p>
                                        The terms used in this Privacy Policy
                                        have the same meanings
                                        as in our Terms and Conditions, which
                                        is accessible at
                                        gdrive-to-commons unless otherwise
                                        defined in this Privacy
                                        Policy.
                                    </p>

                                    <h5>Information Collection and Use</h5>

                                    <p>
                                        For a better experience, while using
                                        our Service, we may
                                        require you to provide us with certain
                                        personally identifiable
                                        information, including limited to:
                                    </p>

                                    <ol>
                                        <li>Wikimedia Username</li>
                                        <li>Number of files uploaded on a
                                            session
                                        </li>
                                        <li>Timestamp of upload.</li>
                                    </ol>
                                    The information that we request will be
                                    retained by us and used
                                    as described in this privacy policy.
                                    <p>
                                        The app use <b>2</b> third party
                                        services that may collect
                                        information used to identify you. They
                                        are:
                                    </p>

                                    <ol>
                                        <li>
                                            The Google authentication service.
                                            The authentication
                                            service is essential for the
                                            application to perform its
                                            functions. However, <b>no</b>
                                            information regrading your
                                            Google account is stored or
                                            retained by this application.
                                        </li>
                                        <li>
                                            The Wikimedia authentication
                                            service. The application OAuth
                                            consumer is public on
                                            meta.wikimedia.org at [<a
                                                href="https://meta.wikimedia
                                            .org/w/index
                                            .php?title=Special:OAuthListConsumers/view/bf7acc95275ac2e73380b7a039f14891"
                                        >1</a
                                        >]. Once authenticated, the application
                                            stores and retains
                                            your Wikimedia username as part of
                                            login/stats purposes. The
                                            stats information will be later
                                            used to populate a counter
                                            on the homepage of the application.
                                        </li>
                                    </ol>
                                    <h5>Cookies</h5>

                                    <p>
                                        Cookies are files with a small amount
                                        of data that are
                                        commonly used as anonymous unique
                                        identifiers. These are sent
                                        to your browser from the websites that
                                        you visit and are
                                        stored on your device's internal
                                        memory.
                                    </p>
                                    <p>
                                        This Service does not use these
                                        “cookies” explicitly. However,
                                        the application may use third party
                                        code and libraries that
                                        use “cookies” to collect information
                                        and improve their
                                        services. You have the option to either
                                        accept or refuse these
                                        cookies and know when a cookie is being
                                        sent to your device.
                                        If you choose to refuse our cookies,
                                        you may not be able to
                                        use some portions of this Service.
                                    </p>

                                    <h5>Security</h5>
                                    <p>
                                        We value your trust in providing us
                                        your Personal Information,
                                        thus we are striving to use
                                        commercially acceptable means of
                                        protecting it. But remember that no
                                        method of transmission
                                        over the internet, or method of
                                        electronic storage is 100%
                                        secure and reliable, and we cannot
                                        guarantee its absolute
                                        security.
                                    </p>

                                    <h5>Links to Other Sites</h5>
                                    <p>
                                        This Service may contain links to other
                                        sites. If you click on
                                        a third-party link, you will be
                                        directed to that site. Note
                                        that these external sites are not
                                        operated by us. Therefore,
                                        we strongly advise you to review the
                                        Privacy Policy of these
                                        websites. We have no control over and
                                        assume no responsibility
                                        for the content, privacy policies, or
                                        practices of any
                                        third-party sites or services.
                                    </p>

                                    <h5>Changes to This Privacy Policy</h5>
                                    <p>
                                        We may update our Privacy Policy from
                                        time to time. Thus, you
                                        are advised to review this page
                                        periodically for any changes.
                                        We will notify you of any changes by
                                        posting the new Privacy
                                        Policy on this page. These changes are
                                        effective immediately
                                        after they are posted on this page.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
