{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% block meta %} {% endblock %}
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/font-awesome-all.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script
      src="{% static 'js/popper.min.js' %}"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'js/bootstrap.min.js' %}"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- prettier-ignore -->
    {% block navigation_bar %}
    <!-- prettier-ignore -->
    {% include 'base/navbar.html' %}
    <!-- prettier-ignore -->
    {% endblock %}
    <!-- prettier-ignore -->
    <main class="container-main" role="main" style="padding-bottom: 5%">
    <!-- prettier-ignore -->
    {% block body %} {% endblock body %}
    <!-- prettier-ignore -->
</main>
    <!-- prettier-ignore -->
    <footer class="footer footer-bottom">
    {% block footer %}

        <!-- prettier-ignore -->
        {% include 'base/footer.html' %}
        <!-- prettier-ignore -->

    {% endblock footer %}
</footer>
  </body>
  {% block scripts %} {% endblock %}
</html>
