<div class="footer-container">
  <span class="text-muted">
    Built with <i class="fa fa-heart"></i> at
    <a href="https://phabricator.wikimedia.org/project/view/4068/">
      Wikimedia Hackathon, 2019</a
    >
    |
    <!-- prettier-ignore -->
    <a href="https://github.com/tonythomas01/gdrive_to_commons">
      Github </a



    >|
    <!-- prettier-ignore -->
    <a href="{% url 'privacy_policy' %}">Privacy Policy</a>
    |
    <!-- prettier-ignore -->
    <a href="https://phabricator.wikimedia.org/project/view/4068/"><i class="fas fa-bug"></i></a>
  </span>
</div>
