root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-row i {
  margin: 20px;
}

.app-desc {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 25px;
}

.mx-auto {
  margin-top: 60px;
}

#navbarSupportedContent {
  justify-content: flex-end !important;
}

.bg-light {
  background-color: white !important ;
}