root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
}

.home-card {
  border: none;
  text-align: center;
}

.home-card .fas {
  font-size: 60px;
  color: #007bff;
}

.home-card .card-step {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  height: 45px;
  width: 45px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 50%;
  display: inline-block;
  color: dimgrey;
  line-height: 40px;
  font-weight: 700;
}

.home-card p {
  font-size: 1.1em;
}

.agreement-content {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.agreement-content h4 {
  text-align: center;
  margin-bottom: 1.1rem;
}

.agreement-form {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.btn-primary {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.logo-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-row i {
  margin: 20px;
}

.app-desc {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.2rem;
  margin: 25px;
}

.mx-auto {
  margin-top: 60px;
}

#navbarSupportedContent {
  justify-content: flex-end !important;
}

.bg-light {
  background-color: white !important ;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer-container {
  width: auto;
  max-width: 100%;
  padding: 0 15px;
}
.footer-bottom {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.footer {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
}
